CLASIFICACION MULTICLASE LABORATORIO 3
MATIAS HECTOR PAVON

PREPROCESAMIENTO DEL DATASET CON PANDAS

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/WineQuality - copia.csv')

In [ ]:
print(df)

       2732  7.4   0.17  0.29   1.4  0.047  23.0  107.0   0.9939  3.52  0.65  \
0      2607  5.3  0.310  0.38  10.5  0.031  53.0  140.0  0.99321  3.34  0.46
1      1653  4.7  0.145  0.29   1.0  0.042  35.0   90.0  0.99080  3.76  0.49
2      3264  6.9  0.260  0.29   4.2  0.043  33.0  114.0  0.99020  3.16  0.31
3      4931  6.4  0.450  0.07   1.1  0.030  10.0  131.0  0.99050  2.97  0.28
4      4859  8.4  0.320  0.35  11.7  0.029   3.0   46.0  0.99439  3.02  0.34
...     ...  ...    ...   ...   ...    ...   ...    ...      ...   ...   ...
32479  2838  5.0  0.255  0.22   2.7  0.043  46.0  153.0  0.99238  3.75  0.76
32480  6414  6.6  0.360  0.52  11.3  0.046   8.0  110.0  0.99660  3.07  0.46
32481  1126  6.3  0.200  0.24   1.7  0.052  36.0  135.0  0.99374  3.80  0.66
32482  2924  6.2  0.200  0.33   5.4  0.028  21.0   75.0  0.99012  3.36  0.41
32483  5462  8.1  0.280  0.46  15.4  0.059  32.0  177.0  1.00040  3.27  0.58

       10.4  6  White Wine
0      11.7  6  White Wine
1      11.3  6  White Wine
2      12.5  6  White Wine
3      10.8  5  White Wine
4      11.8  6  White Wine
...     ... ..         ...
32479  11.3  6  White Wine
32480   9.4  5  White Wine
32481  10.8  6  White Wine
32482  13.5  7  White Wine
32483   9.0  4  White Wine

[32484 rows x 14 columns]

In [ ]:
df = df.iloc[:, 1:].reset_index(drop=True)
df.columns = np.roll(df.columns, -1)

In [ ]:
df.to_csv('/content/drive/MyDrive/Dataset/WineModificado.csv')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/WineModificado.csv')

In [ ]:
df.iloc[:, 13] = df.iloc[:, 13].replace('White Wine', 1)
df.iloc[:, 13] = df.iloc[:, 13].replace('Red Wine', 0)

<ipython-input-39-ae86ffbfaaf1>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 13] = df.iloc[:, 13].replace('Red Wine', 0)

In [ ]:
print(df)

           0  7.4   0.17  0.29   1.4  0.047  23.0  107.0   0.9939  3.52  0.65  \
0          0  5.3  0.310  0.38  10.5  0.031  53.0  140.0  0.99321  3.34  0.46
1          1  4.7  0.145  0.29   1.0  0.042  35.0   90.0  0.99080  3.76  0.49
2          2  6.9  0.260  0.29   4.2  0.043  33.0  114.0  0.99020  3.16  0.31
3          3  6.4  0.450  0.07   1.1  0.030  10.0  131.0  0.99050  2.97  0.28
4          4  8.4  0.320  0.35  11.7  0.029   3.0   46.0  0.99439  3.02  0.34
...      ...  ...    ...   ...   ...    ...   ...    ...      ...   ...   ...
32479  32479  5.0  0.255  0.22   2.7  0.043  46.0  153.0  0.99238  3.75  0.76
32480  32480  6.6  0.360  0.52  11.3  0.046   8.0  110.0  0.99660  3.07  0.46
32481  32481  6.3  0.200  0.24   1.7  0.052  36.0  135.0  0.99374  3.80  0.66
32482  32482  6.2  0.200  0.33   5.4  0.028  21.0   75.0  0.99012  3.36  0.41
32483  32483  8.1  0.280  0.46  15.4  0.059  32.0  177.0  1.00040  3.27  0.58

       10.4  6  White Wine
0      11.7  6           1
1      11.3  6           1
2      12.5  6           1
3      10.8  5           1
4      11.8  6           1
...     ... ..         ...
32479  11.3  6           1
32480   9.4  5           1
32481  10.8  6           1
32482  13.5  7           1
32483   9.0  4           1

[32484 rows x 14 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Dataset/WineModificado2.csv')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/WineModificado2.csv')

In [ ]:
# Posiciones de las columnas que quieres intercambiar
posicion_a = 13  # Por ejemplo, intercambiar la primera columna
posicion_b = 14  # Por ejemplo, intercambiar la tercera columna

# Intercambio de las columnas
columnas = list(df.columns)
columnas[posicion_a], columnas[posicion_b] = columnas[posicion_b], columnas[posicion_a]
df = df[columnas]

In [ ]:
print(df)

           0    0.1  7.4   0.17  0.29   1.4  0.047  23.0  107.0   0.9939  \
0          0      0  5.3  0.310  0.38  10.5  0.031  53.0  140.0  0.99321
1          1      1  4.7  0.145  0.29   1.0  0.042  35.0   90.0  0.99080
2          2      2  6.9  0.260  0.29   4.2  0.043  33.0  114.0  0.99020
3          3      3  6.4  0.450  0.07   1.1  0.030  10.0  131.0  0.99050
4          4      4  8.4  0.320  0.35  11.7  0.029   3.0   46.0  0.99439
...      ...    ...  ...    ...   ...   ...    ...   ...    ...      ...
32479  32479  32479  5.0  0.255  0.22   2.7  0.043  46.0  153.0  0.99238
32480  32480  32480  6.6  0.360  0.52  11.3  0.046   8.0  110.0  0.99660
32481  32481  32481  6.3  0.200  0.24   1.7  0.052  36.0  135.0  0.99374
32482  32482  32482  6.2  0.200  0.33   5.4  0.028  21.0   75.0  0.99012
32483  32483  32483  8.1  0.280  0.46  15.4  0.059  32.0  177.0  1.00040

       3.52  0.65  10.4  1  6
0      3.34  0.46  11.7  1  6
1      3.76  0.49  11.3  1  6
2      3.16  0.31  12.5  1  6
3      2.97  0.28  10.8  1  5
4      3.02  0.34  11.8  1  6
...     ...   ...   ... .. ..
32479  3.75  0.76  11.3  1  6
32480  3.07  0.46   9.4  1  5
32481  3.80  0.66  10.8  1  6
32482  3.36  0.41  13.5  1  7
32483  3.27  0.58   9.0  1  4

[32484 rows x 15 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Dataset/WineModificado3.csv')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/WineModificado3.csv')

In [ ]:
df = df.iloc[:, 3:]

In [ ]:
print(df)

       7.4   0.17  0.29   1.4  0.047  23.0  107.0   0.9939  3.52  0.65  10.4  \
0      5.3  0.310  0.38  10.5  0.031  53.0  140.0  0.99321  3.34  0.46  11.7
1      4.7  0.145  0.29   1.0  0.042  35.0   90.0  0.99080  3.76  0.49  11.3
2      6.9  0.260  0.29   4.2  0.043  33.0  114.0  0.99020  3.16  0.31  12.5
3      6.4  0.450  0.07   1.1  0.030  10.0  131.0  0.99050  2.97  0.28  10.8
4      8.4  0.320  0.35  11.7  0.029   3.0   46.0  0.99439  3.02  0.34  11.8
...    ...    ...   ...   ...    ...   ...    ...      ...   ...   ...   ...
32479  5.0  0.255  0.22   2.7  0.043  46.0  153.0  0.99238  3.75  0.76  11.3
32480  6.6  0.360  0.52  11.3  0.046   8.0  110.0  0.99660  3.07  0.46   9.4
32481  6.3  0.200  0.24   1.7  0.052  36.0  135.0  0.99374  3.80  0.66  10.8
32482  6.2  0.200  0.33   5.4  0.028  21.0   75.0  0.99012  3.36  0.41  13.5
32483  8.1  0.280  0.46  15.4  0.059  32.0  177.0  1.00040  3.27  0.58   9.0

       1  6
0      1  6
1      1  6
2      1  6
3      1  5
4      1  6
...   .. ..
32479  1  6
32480  1  5
32481  1  6
32482  1  7
32483  1  4

[32484 rows x 13 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Dataset/WineModificado4.csv')

Primero conectamos nuestro drive con el cuadernillo

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Ahora importamos librerias para que funciones el codigo

In [1]:
# utilizado para la manipulación de directorios y rutas
import os

# Cálculo científico y vectorial para python
import numpy as np

# Libreria para graficos
from matplotlib import pyplot

# Modulo de optimizacion en scipy
from scipy import optimize

# modulo para cargar archivos en formato MATLAB
# from scipy.io import loadmat

# le dice a matplotlib que incruste gráficos en el cuaderno
%matplotlib inline

Se inicia el ejercicio cargando primero el conjunto de datos donde se selecciona 80% de los ejemplos para el entrenamiento

In [98]:
# La entrada es de 14 elemento contando con x0
input_layer_size  = 14

# 10 etiquetas, de 1 a 10 (tomar en cuenta que se asigna "0" a la etiqueta 10)
num_labels = 7

#  datos de entrenamiento almacenados en los arreglos X, y
# data = loadmat(os.path.join('Datasets', 'ex3data1.mat'))
data = np.loadtxt('/content/drive/MyDrive/Dataset/WineModificado4.csv', delimiter=',')

# print(data['y'])
# print(data['y'].ravel())
# print(data['X'])
X = data[:25986, 1:13]
y = data[:25986, 13]
# X, y = data['X'], data['y'].ravel()
# print(X)
# print(y)
# establecer el dígito cero en 0, en lugar del 10 asignado a este conjunto de datos
# Esto se hace debido a que el conjunto de datos se utilizó en MATLAB donde no hay índice 0
y[y == 3] = 0
y[y == 4] = 1
y[y == 5] = 2
y[y == 6] = 3
y[y == 7] = 4
y[y == 8] = 5
y[y == 9] = 6
# print(y)

m = y.size
print(X)
print(y)

[[ 7.4    0.17   0.29  ...  0.65  10.4    1.   ]
 [ 5.3    0.31   0.38  ...  0.46  11.7    1.   ]
 [ 4.7    0.145  0.29  ...  0.49  11.3    1.   ]
 ...
 [ 6.4    0.27   0.49  ...  0.43   9.2    1.   ]
 [ 8.3    0.16   0.37  ...  0.37  11.9    1.   ]
 [ 9.2    0.31   0.36  ...  0.86  12.     0.   ]]
[3. 3. 3. ... 3. 3. 4.]

SE CAMBIO LOS VALORES DE LAS CLASES COMO SE INDICO EN LA CLASE DE LABORATORIO PARA ADECUARLOS A LOS VALORES QUE DEVUELVE ARMAC
(3 = 0 PESIMO)
(4 = 1 MUY MALO)
(5 = 2 MALO)
(6 = 3 REGULAR)
(7 = 4 BUENO)
(8 = 5 MUY BUENO)
(9 = 6 EXCELENTE)

NORMALIZAR

In [99]:
def  featureNormalize(X):
    X_norm = X.copy()
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)
    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

In [100]:
# llama featureNormalize con los datos cargados
X_norm, mu, sigma = featureNormalize(X)

In [101]:
# Configurar la matriz adecuadamente, y agregar una columna de unos que corresponde al termino de intercepción.
m, n = X.shape
# Agraga el termino de intercepción a A
# X = np.concatenate([np.ones((m, 1)), X_norm], axis=1)
X = X_norm
# X = np.concatenate([np.ones((m, 1)), X], axis=1)

FUNCION SIGMOIDE

In [102]:
def sigmoid(z):
    """
    Calcula la sigmoide de z.
    """
    return 1.0 / (1.0 + np.exp(-z))

VECTORIZACION DEL GRADIENTE

In [103]:
def lrCostFunction(theta, X, y, lambda_):
    """
    Calcula el costo de usar theta como parámetro para la regresión logística regularizada y
    el gradiente del costo w.r.t. a los parámetros.

    Parametros
    ----------
    theta : array_like
        Parametro theta de la regresion logistica. Vector de la forma(shape) (n, ). n es el numero de caracteristicas
        incluida la intercepcion

    X : array_like
        Dataset con la forma(shape) (m x n). m es el numero de ejemplos, y n es el numero de
        caracteristicas (incluida la intercepcion).

    y : array_like
        El conjunto de etiquetas. Un vector con la forma (shape) (m, ). m es el numero de ejemplos

    lambda_ : float
        Parametro de regularización.

    Devuelve
    -------
    J : float
        El valor calculado para la funcion de costo regularizada.

    grad : array_like
        Un vector de la forma (shape) (n, ) que es el gradiente de la
        función de costo con respecto a theta, en los valores actuales de theta..
    """
#     alpha = 0.003
#     theta = theta.copy()
    # Inicializa algunos valores utiles
    m = y.size

    # convierte las etiquetas a valores enteros si son boleanos
    if y.dtype == bool:
        y = y.astype(int)

    J = 0
    grad = np.zeros(theta.shape)

    h = sigmoid(X.dot(theta.T))

    temp = theta
    temp[0] = 0

#     J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h)))
    J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h))) + (lambda_ / (2 * m)) * np.sum(np.square(temp))

    grad = (1 / m) * (h - y).dot(X)
#     theta = theta - (alpha / m) * (h - y).dot(X)
    grad = grad + (lambda_ / m) * temp

    return J, grad
#    return J, theta

CLASIFICACION ONE VS ALL

In [104]:
def oneVsAll(X, y, num_labels, lambda_):
    """
    Trains num_labels logistic regression classifiers and returns
    each of these classifiers in a matrix all_theta, where the i-th
    row of all_theta corresponds to the classifier for label i.

    Parameters
    ----------
    X : array_like
        The input dataset of shape (m x n). m is the number of
        data points, and n is the number of features. Note that we
        do not assume that the intercept term (or bias) is in X, however
        we provide the code below to add the bias term to X.

    y : array_like
        The data labels. A vector of shape (m, ).

    num_labels : int
        Number of possible labels.

    lambda_ : float
        The logistic regularization parameter.

    Returns
    -------
    all_theta : array_like
        The trained parameters for logistic regression for each class.
        This is a matrix of shape (K x n+1) where K is number of classes
        (ie. `numlabels`) and n is number of features without the bias.
    """
    # algunas variables utiles
    m, n = X.shape

    all_theta = np.zeros((num_labels, n + 1))

    # Agrega unos a la matriz X
    X = np.concatenate([np.ones((m, 1)), X], axis=1)

    for c in np.arange(num_labels):
        initial_theta = np.zeros(n + 1)
        options = {'maxiter': 50}
        res = optimize.minimize(lrCostFunction,
                                initial_theta,
                                (X, (y == c), lambda_),
                                jac=True,
                                method='CG',
                                options=options)

        all_theta[c] = res.x

    return all_theta

In [105]:
lambda_ = 0.1
all_theta = oneVsAll(X, y, num_labels, lambda_)
print(all_theta.shape)

(7, 13)

In [106]:
print(all_theta)

[[-6.25368351e+00  1.30087181e+00  9.75194062e-01 -1.02264784e-01
   3.55759377e-01  4.15013205e-01  6.91433439e-01 -5.63565143e-01
  -6.51260261e-01  8.34746000e-01 -2.89803651e-01 -4.83043387e-01
   1.42953902e+00]
 [-3.96195981e+00 -3.18624780e-02  8.38770828e-01 -9.05110534e-02
  -7.71796646e-01 -1.77474986e-02 -7.58018714e-01 -1.88137196e-01
   6.68454296e-01 -1.39858516e-04 -8.31797150e-02 -2.76011992e-01
   1.64660212e+00]
 [-9.32945173e-01 -1.93002938e-01  4.91460730e-01  9.14202740e-02
  -4.49974676e-01  3.40099384e-02 -2.16494426e-01  4.26210513e-01
   2.95511292e-01 -1.66651104e-01 -2.55597686e-01 -8.93219283e-01
  -1.28590463e-01]
 [-2.62603138e-01 -1.79487487e-01 -4.79779943e-01 -8.74173164e-02
  -1.39934050e-01 -5.03713078e-04  1.01383396e-01 -1.67112555e-01
   4.68709406e-01 -8.53970083e-02 -7.87496917e-04  3.56346976e-01
  -3.48238187e-02]
 [-2.08070501e+00  6.50140867e-01 -6.03482097e-01 -6.65094786e-02
   9.20027197e-01 -2.92752350e-01  1.51246200e-01 -2.21946084e-01
  -1.15932087e+00  4.15705055e-01  3.53605886e-01  4.11698376e-01
  -3.13484131e-01]
 [-4.32471269e+00  3.53272646e-01 -2.79462930e-01  6.98624348e-02
   9.04462810e-01 -2.95693902e-01  3.27274528e-01 -1.53775852e-01
  -9.73616012e-01  3.31942755e-01  1.92894851e-01  6.34391732e-01
  -7.18877305e-02]
 [-1.22022728e+01  1.71451242e+00 -6.64771724e-01  2.31907036e-01
   1.92587741e-02 -4.10288122e+00 -4.91466608e-02  1.53544330e-02
   5.54447489e-01  1.66070108e+00 -7.40998706e-01  1.62651502e+00
   1.63770709e+00]]

PREDICCION ONE VS ALL

In [107]:
def predictOneVsAll(all_theta, X):
    """
    Devuelve un vector de predicciones para cada ejemplo en la matriz X.
    Tenga en cuenta que X contiene los ejemplos en filas.
    all_theta es una matriz donde la i-ésima fila es un vector theta de regresión logística entrenada para la i-ésima clase.
    Debe establecer p en un vector de valores de 0..K-1 (por ejemplo, p = [0, 2, 0, 1]
    predice clases 0, 2, 0, 1 para 4 ejemplos).

    Parametros
    ----------
    all_theta : array_like
        The trained parameters for logistic regression for each class.
        This is a matrix of shape (K x n+1) where K is number of classes
        and n is number of features without the bias.

    X : array_like
        Data points to predict their labels. This is a matrix of shape
        (m x n) where m is number of data points to predict, and n is number
        of features without the bias term. Note we add the bias term for X in
        this function.

    Devuelve
    -------
    p : array_like
        The predictions for each data point in X. This is a vector of shape (m, ).
    """

    m = X.shape[0];
    num_labels = all_theta.shape[0]

    p = np.zeros(m)

    # Add ones to the X data matrix
    X = np.concatenate([np.ones((m, 1)), X], axis=1)
    p = np.argmax(sigmoid(X.dot(all_theta.T)), axis = 1)

    return p

SE SELECCIONA 80% DEL DATASET PARA HACER LAS PRUEBAS DE PREDICCION

In [108]:
print(X.shape)
pred = predictOneVsAll(all_theta, X)
print('Precision del conjuto de entrenamiento: {:.2f}%'.format(np.mean(pred == y) * 100))
XPrueba = data[25986:, 1:13].copy()
print(XPrueba.shape)
#print(np.ones((1)))
#print(XPrueba)
#p = np.zeros(1)
XPrueba = np.concatenate([np.ones((6499, 1)), XPrueba], axis=1)
print(XPrueba.shape)
p = np.argmax(sigmoid(XPrueba.dot(all_theta.T)), axis = 1)
print(p)

# displayData(X[1002:1003, :])
print(y[-50:])
print(p[-50:])

(25986, 12)
Precision del conjuto de entrenamiento: 54.40%
(6499, 12)
(6499, 13)
[2 2 6 ... 2 6 2]
[2. 4. 4. 3. 2. 3. 4. 3. 3. 5. 4. 4. 2. 3. 3. 2. 2. 3. 3. 3. 2. 4. 2. 4.
 3. 2. 2. 4. 3. 3. 3. 2. 2. 3. 3. 3. 4. 2. 4. 3. 5. 4. 4. 3. 2. 2. 3. 3.
 3. 4.]
[2 6 2 2 2 2 6 6 6 2 6 6 6 2 2 2 2 6 2 2 6 6 2 2 2 2 6 2 6 6 2 2 6 6 6 2 2
 2 2 6 2 6 2 2 6 2 2 2 6 2]

COMO PODEMOS VER NO COICIDEN POR COMPLETO LOS VALORES COMO ESPERAMOS PERO AUN ASI SE PUEDE VER UNAS CUANTAS COINCIDENCIAS